samples
samples/*
__pycache__
*/__pycache__/*
# EXCLUDE KEYS
*/setup_openai.py
jwt
jwt/*
security
security/*
temp
temp/*
downloads
downloads/*
transcripts
transcripts/*
summaries-final/*
summaries-int/*
transcripts-full/*
transcripts-cond/*
dump.rdb
